.PropertyCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10px;
    gap: 20px;
    margin-top: 10px;
}

/* Laptop - 3 cards per row */
@media screen and (min-width: 1024px) {
    .PropertyCardContainer {
        justify-content: space-between;
    }

    .PropertyCardContainer > * {
        flex: 1 1 calc(33.333% - 20px);
    }
}

/* Tablet - 2 cards per row */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .PropertyCardContainer {
        justify-content: center;
    }

    .PropertyCardContainer > * {
        flex: 1 1 calc(50% - 20px);
    }
}

/* Mobile - 1 card centered */
@media screen and (max-width: 767px) {
    .PropertyCardContainer {
        justify-content: center;
    }

    .PropertyCardContainer > * {
        flex: 1 1 100%;
        max-width: 90%; /* To make the card centered with slight padding */
        height: 100%;
    }
}

.filters {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 60px;
    background-color: #9AACB5;
    padding: 10px 20px;
    border-radius: 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.filters select,
.filters input {
    width: 100%;
    max-width: 150px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.filters input:focus {
    border: 1px solid #0d0d0d;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.pagination button:hover {
    background-color: #0056b3;
}

.pagination button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.pagination span {
    margin: 0 15px;
    font-size: 16px;
}

.suggestionsContainer {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 400px;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.suggestionsList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.suggestionItem {
    padding: 10px;
    cursor: pointer;
}

.suggestionItem:hover {
    background-color: #f0f0f0;
}
